<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533511796898-b80t2ct8j4bdj28fk7vh6kdnlar5emq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533511796898-b80t2ct8j4bdj28fk7vh6kdnlar5emq8</string>
	<key>API_KEY</key>
	<string>AIzaSyDvWHy1EvXJoB8AuYpRFP_J1IZR_6UYWbA</string>
	<key>GCM_SENDER_ID</key>
	<string>533511796898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.codegrove.FirebaseBasic</string>
	<key>PROJECT_ID</key>
	<string>fir-basic-c501b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-basic-c501b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533511796898:ios:39297b7472572c45a43ffb</string>
</dict>
</plist>